.bookList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.bookItem {
  border-bottom: 1px solid #ccc;
  padding: 1rem;
  border-radius: 5px;
}

.rating {
  color: gold;
  font-size: 1.5rem;
}