.hero {
  text-align: center;
  padding: 2rem 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  margin-bottom: 2rem;

  & h1 {
    font-size: 2.5rem;
  margin-bottom: 0.5rem;
  }

  & p {
     font-size: 1.8rem;
  color: #555;
  margin-bottom: 1rem;
  }
}

.ctaButtons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.topBooks {
  margin-top: 2rem;
}

.bookList {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  list-style: none;
  padding: 0;
}

.bookItem {
  flex: 1 1 200px;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 7px;
  background-color: #fff;
  box-shadow: 1px 2px 5px rgba(0,0,0,0.1);
}

.bookItem strong {
  display: block;
  margin-bottom: 0.5rem;
}

.cover {
  width: 100%;
  max-width: 150px;
  height: auto;
  margin-bottom: 0.5rem;
  border-radius: 5px;
}

.rating {
  color: gold;
  font-size: 1.7rem;
}

.recommendedLinks a {
  display: inline-block;
  margin-right: 1rem;
  text-decoration: underline;
  transition: color 0.3s ease;
  cursor: pointer;

  & a:hover {
    color: var(--hover-color);
  }
}

.aboutFooter{
  margin-top: 2rem;
  font-size: 1.2rem;
  font-style: italic;
  text-align: center;
  opacity: 0.7;
}

